* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#chatApp {
  display: flex;
  width: 90%;
  height: 90vh;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
#slanje {
  flex-basis: 10%;
  background-color: aqua;
}
#poruke {
  flex-basis: 90%;
  background-color: bisque;
}
